<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Election Portal</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Favicons -->

    <meta name="theme-color" content="#563d7c">
    
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">Election Portal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/display-result">Display Result</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/summed-total">Summed Total Result <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/create-result">Create Result</a>
      </li>
    
    </ul>
    
  </div>
</nav>



<main role="main" class="container">

  <div class="starter-template">
    <h1>Summed Total Result</h1>
    <p class="lead">Summed total result of all the polling units under any particular local government </p>
  </div>

  <div class="row">
    <div class="container">
      <form>
          <div id="state" class="form-group">
              <label for="stateInputField"> State</label>
              <select class="form-control" id="stateInputField" onchange="onStateChange(this.value)">
                <option>Select</option>
              </select>
            </div>
      </form>
      <form>
        <div id="lga" class="form-group">
            <label for="lgaInputField"> Local Government Area</label>
            <select class="form-control" id="lgaInputField" onchange="onLgaChange(this.value)">
                <option>Select</option>
            </select>
          </div>
    </form>
 
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm">
            LGA Name: <span id="lga_name"></span>
        </div>
        <div class="col-sm">
            LGA Description:<span id="lga_description"></span>
        </div>
        <div class="col-sm">
            Entered By: <span id="entered_by_user"></span>
        </div>
        <div class="col-sm">
            Date Entered: <span id="date_entered"></span>
        </div>
        <div class="col-sm">
            User Ip Address: <span id="user_ip_address"></span>
        </div>
        <div class="col-sm">
            State: <span id="state_name"></span>
        </div>
        <div class="col-sm"></div>
            No. of Polling Unit: <span id="total_polling_units_count"></span>
        <div class="col-sm">
            Overall Total: <span id="overall_total"></span>
        </div>
      </div>
    </div>
  </div>

  <ul id="parties_score_view" class="list-group">
    <li class="list-group-item">
        <span id="party_abbreviation"></span>
        <span id="total_party_score"></span>
    </li>
  </ul>

</main><!-- /.container -->
    <script src="/script/jquery.js"></script>
    <script src="/script/bootstrap.min.js" ></script>
    <script src="/script/summed-total.js"></script>
</body>
</html>
